/* Стили для класса error */
.error {
  border: 3px solid rgb(255, 71, 71);
}

/* Стили для кнопки */
button:hover {
  color: rgb(255, 255, 255); /* белый цвет текста */
  background-color: #616467; /* тёмно-серый фон */
}
